{% set eyeOpen =
  '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" /></svg>'
%}
{% set eyeClosed =
  '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4"><path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" /></svg>'
%}

<div
  data-controller="password-input"
  data-password-input-min-length-value="{{ minLength|default(5) }}"
  data-password-input-max-length-value="{{ maxLength|default(12) }}"
  data-password-input-pattern-value="{{ allowedPattern|default('^[a-zA-Z0-9!@#$%&*]*$') }}"
  data-password-input-show-error-value="{{ showError ? 'true' : 'false' }}"
  data-password-eye-open="{{ eyeOpen|e('html_attr') }}"
  data-password-eye-closed="{{ eyeClosed|e('html_attr') }}"
  class="{{
  (labelInline ? 'flex items-center gap-4' : 'flex flex-col gap-1')
    ~ (fullWidth ? ' w-full' : '')
  }}"
>
  {% include 'atoms/Label/Label.html.twig' with {
    text: label|default('Password'),
    htmlFor: id|default('password'),
    className: '',
    isHtml: false,
    id: ''
  } only %}

  <div class="relative flex items-center gap-2">
    {% include 'atoms/Input/Input.html.twig' with {
      id: id|default('password'),
      type: 'password',
      value: value|default(''),
      placeholder: placeholder|default('Enter password'),
      minLength: minLength|default(5),
      maxLength: maxLength|default(12),
      pattern: allowedPattern,
      errorMessage: errorMessage|default(
        'Only letters, numbers and these characters are allowed: !@#$%&*'
      ),
      showError: showError,
      fullWidth: fullWidth,
      className: classNameInput|default(''),
      attrs: {
        'data-password-input-target': 'field'
      }
    } only %}

    {% include 'atoms/Button/Button.html.twig' with {
      id: id ~ '-toggle',
      text: eyeClosed,
      variant: 'secondary',
      size: 'small',
      isSquare: true,
      isHtmlContent: true,
      className: classNameToggle|default(''),
      onClick: null,
      attrs: {
        type: 'button',
        'aria-label': 'Show password',
        'data-action': 'click->password-input#toggleVisibility',
        'data-password-input-target': 'toggle'
      }
    } only %}
  </div>
</div>
